[submodule "KFirebaseCore"]
	path = KFirebaseCore
	url = https://github.com/the-best-is-best/KFirebaseCore
[submodule "KFirebaseAnalytics"]
	path = KFirebaseAnalytics
	url = https://github.com/the-best-is-best/KFirebaseAnalytics
[submodule "TouchLabCrashlytics"]
	path = TouchLabCrashlytics
	url = https://github.com/the-best-is-best/TouchLabCrashlytics
[submodule "KFirebaseRemoteConfig"]
	path = KFirebaseRemoteConfig
	url = https://github.com/the-best-is-best/KFirebaseRemoteConfig
[submodule "KFirebaseMessaging"]
	path = KFirebaseMessaging
	url = https://github.com/the-best-is-best/KFirebaseMessaging
[submodule "kmmFirebaseFireStore"]
	path = kmmFirebaseFireStore
	url = https://github.com/the-best-is-best/kmmFirebaseFireStore
