<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCTgFF2P11zCQrfwKHePV13lVgTpWskyAA</string>
	<key>GCM_SENDER_ID</key>
	<string>780339269907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.linkie.tech.cody</string>
	<key>PROJECT_ID</key>
	<string>cody-70390</string>
	<key>STORAGE_BUCKET</key>
	<string>cody-70390.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780339269907:ios:1b40c6edcb40ecfdab4ae6</string>
</dict>
</plist>